### For the 20,000 boston samples, split it into 80 : 20 as train and test, so as to use the train and test image lists to fetch images

In [40]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [41]:
boston_safety_subsample = pd.read_csv("~/Desktop/ML1030/us_safety/boston_safety_subsample.csv")
boston_safety_subsample = boston_safety_subsample.drop(columns='Unnamed: 0')

In [42]:
boston_safety_subsample.head()

,city,latitude,longitude,q-score,safety,Coordinates,OBJECTID,SUBDISTRIC
0,Boston,42.348724,-71.071495,28.634125,1,POINT (-71.071495 42.348724),54998,Residential
1,Boston,42.288597,-71.065681,26.525396,1,POINT (-71.06568100000001 42.288597),55642,Residential
2,Boston,42.295563,-71.138023,29.614868,1,POINT (-71.138023 42.295563),54450,Residential
3,Boston,42.312973,-71.076004,30.076191,1,POINT (-71.076004 42.312973),55523,Residential
4,Boston,42.311348,-71.060051,26.038879,1,POINT (-71.060051 42.311348),55604,Residential

In [43]:
train, test = train_test_split(boston_safety_subsample, test_size=0.2)

### Check: both train and test represent the portion of SUBDISTRIC in the 20,000 samples

In [44]:
boston_safety_subsample.groupby(['SUBDISTRIC']).count()['city'] / boston_safety_subsample.groupby(['SUBDISTRIC']).count()['city'].sum()

SUBDISTRIC
Business         0.05340
Comm/Instit      0.02100
Industrial       0.13900
Miscellaneous    0.04335
Mixed Use        0.06575
Open Space       0.17860
Residential      0.49890
Name: city, dtype: float64

In [45]:
train.groupby(['SUBDISTRIC']).count()['city'] / train.groupby(['SUBDISTRIC']).count()['city'].sum()

SUBDISTRIC
Business         0.052312
Comm/Instit      0.020688
Industrial       0.140375
Miscellaneous    0.043562
Mixed Use        0.065562
Open Space       0.178500
Residential      0.499000
Name: city, dtype: float64

In [46]:
test.groupby(['SUBDISTRIC']).count()['city'] / test.groupby(['SUBDISTRIC']).count()['city'].sum()

SUBDISTRIC
Business         0.05775
Comm/Instit      0.02225
Industrial       0.13350
Miscellaneous    0.04250
Mixed Use        0.06650
Open Space       0.17900
Residential      0.49850
Name: city, dtype: float64

### Check: both train and test represent the portion of 'safety' in the 20,000 samples

In [47]:
boston_safety_subsample.groupby(['safety']).count()['city'] / boston_safety_subsample.groupby(['safety']).count()['city'].sum()

safety
0    0.54425
1    0.45575
Name: city, dtype: float64

In [48]:
train.groupby(['safety']).count()['city'] / train.groupby(['safety']).count()['city'].sum()

safety
0    0.54475
1    0.45525
Name: city, dtype: float64

In [49]:
test.groupby(['safety']).count()['city'] / test.groupby(['safety']).count()['city'].sum()

safety
0    0.54225
1    0.45775
Name: city, dtype: float64

In [50]:
train.to_csv("~/Desktop/ML1030/us_safety/boston_train_list.csv")
test.to_csv("~/Desktop/ML1030/us_safety/boston_test_list.csv")