In this script, 1) after fetching images based on boston_train_list.csv and boston_test_list.csv using Google Street View API, we merge the fetched train / test images' metadata with the target variable.

2) we calculated the fetched images' updated year.

In [34]:
import pandas as pd
import datetime as dt
import numpy as np

## 1) Merge the fetched train / test images' metadata with the target variable.

### train images' target: create a table 'train_fetched_with_target'

#### train_fetched

In [42]:
train_meta = pd.read_json('~/Desktop/ML1030/us_safety/boston_train_metadata.json')
train_meta.head(5)

,_file,copyright,date,location,pano_id,status
0,gsv_0.jpg,© Google,2018-09-01,"{'lat': 42.39231519637968, 'lng': -70.99508225...",wuglr2YyMwYbhygr3NnnlA,OK
1,gsv_1.jpg,© Google,2018-09-01,"{'lat': 42.35201675617876, 'lng': -71.05250743...",hvVHe462HUfb393G6Bog2Q,OK
2,gsv_2.jpg,© Google,2011-08-01,"{'lat': 42.25479230565306, 'lng': -71.13908174...",Ogs4R-jKrf4QhdL7UtD5VA,OK
3,gsv_3.jpg,© Google,2017-08-01,"{'lat': 42.37285282016626, 'lng': -71.02960299...",K-oe8tocHQ9ycQmRZueLYQ,OK
4,gsv_4.jpg,© Google,2018-10-01,"{'lat': 42.3596838, 'lng': -71.147121}",N8Kp63EDSLQXiesFHJdOwQ,OK

In [49]:
train_meta.groupby('status').size()

status
OK              15928
ZERO_RESULTS       72
dtype: int64

In [50]:
train_fetched = train_meta[train_meta['status'] == 'OK']

#### train (with target)

In [51]:
train = pd.read_csv("~/Desktop/ML1030/us_safety/boston_train_list.csv")
train = train.drop(columns='Unnamed: 0')
train.head(5)

,city,latitude,longitude,q-score,safety,Coordinates,OBJECTID,SUBDISTRIC,index_outof_20000
0,Boston,42.392273,-70.994942,14.495926,0,POINT (-70.99494200000002 42.392273),55507,Open Space,12669
1,Boston,42.351974,-71.052361,19.801462,0,POINT (-71.052361 42.351974),54845,Industrial,14403
2,Boston,42.254936,-71.138962,22.083672,0,POINT (-71.13896200000001 42.254936),54368,Residential,6554
3,Boston,42.372772,-71.029839,23.882545,0,POINT (-71.029839 42.372772),55508,Open Space,11783
4,Boston,42.359776,-71.147301,19.756496,0,POINT (-71.147301 42.359776),55353,Business,19418

#### train_fetched_with_target = merge 'train_fetched' with 'train'

In [52]:
train_fetched_with_target = pd.merge(train_fetched, train, left_index=True, right_index=True)
train_fetched_with_target['img_index'] = train_fetched_with_target.index
train_fetched_with_target.head(3)

,_file,copyright,date,location,pano_id,status,city,latitude,longitude,q-score,safety,Coordinates,OBJECTID,SUBDISTRIC,index_outof_20000,img_index
0,gsv_0.jpg,© Google,2018-09-01,"{'lat': 42.39231519637968, 'lng': -70.99508225...",wuglr2YyMwYbhygr3NnnlA,OK,Boston,42.392273,-70.994942,14.495926,0,POINT (-70.99494200000002 42.392273),55507,Open Space,12669,0
1,gsv_1.jpg,© Google,2018-09-01,"{'lat': 42.35201675617876, 'lng': -71.05250743...",hvVHe462HUfb393G6Bog2Q,OK,Boston,42.351974,-71.052361,19.801462,0,POINT (-71.052361 42.351974),54845,Industrial,14403,1
2,gsv_2.jpg,© Google,2011-08-01,"{'lat': 42.25479230565306, 'lng': -71.13908174...",Ogs4R-jKrf4QhdL7UtD5VA,OK,Boston,42.254936,-71.138962,22.083672,0,POINT (-71.13896200000001 42.254936),54368,Residential,6554,2

### test images' target: create a table 'test_fetched_with_target'

#### test_fetched

In [45]:
test_meta = pd.read_json('~/Desktop/ML1030/us_safety/boston_test_metadata.json')
test_meta.head(3)

,_file,copyright,date,location,pano_id,status
0,gsv_0.jpg,© Google,2009-07-01,"{'lat': 42.35404407381064, 'lng': -71.12316765...",xVDvT0Q2BDlRT5gFXnyVoA,OK
1,gsv_1.jpg,© Google,2014-06-01,"{'lat': 42.36173991558862, 'lng': -71.05723471...",hroSnriFLgCvHhwY9UaoBg,OK
2,gsv_2.jpg,© Google,2015-10-01,"{'lat': 42.36246790454329, 'lng': -71.14633789...",-iCUOdUXoai976bu0BlokA,OK

In [37]:
test_meta.groupby('status').size()

status
OK              3976
ZERO_RESULTS      24
dtype: int64

In [38]:
test_fetched = test_meta[test_meta['status'] == 'OK']

#### test (with target)

In [43]:
test = pd.read_csv("~/Desktop/ML1030/us_safety/boston_test_list.csv")
test = test.drop(columns='Unnamed: 0')
test.head(3)

,city,latitude,longitude,q-score,safety,Coordinates,OBJECTID,SUBDISTRIC,index_outof_20000
0,Boston,42.353924,-71.123283,28.367445,1,POINT (-71.123283 42.353924),55314,Industrial,14035
1,Boston,42.361725,-71.057236,25.977942,1,POINT (-71.057236 42.361725),55092,Mixed Use,17206
2,Boston,42.362373,-71.146179,22.974413,0,POINT (-71.146179 42.362373),55391,Open Space,12841

#### test_fetched_with_target = merge 'test_fetched' with 'test'

In [46]:
test_fetched_with_target = pd.merge(test_fetched, test, left_index=True, right_index=True)
test_fetched_with_target['img_index'] = test_fetched_with_target.index
test_fetched_with_target.head(3)

,_file,copyright,date,location,pano_id,status,city,latitude,longitude,q-score,safety,Coordinates,OBJECTID,SUBDISTRIC,index_outof_20000,img_index
0,gsv_0.jpg,© Google,2009-07-01,"{'lat': 42.35404407381064, 'lng': -71.12316765...",xVDvT0Q2BDlRT5gFXnyVoA,OK,Boston,42.353924,-71.123283,28.367445,1,POINT (-71.123283 42.353924),55314,Industrial,14035,0
1,gsv_1.jpg,© Google,2014-06-01,"{'lat': 42.36173991558862, 'lng': -71.05723471...",hroSnriFLgCvHhwY9UaoBg,OK,Boston,42.361725,-71.057236,25.977942,1,POINT (-71.057236 42.361725),55092,Mixed Use,17206,1
2,gsv_2.jpg,© Google,2015-10-01,"{'lat': 42.36246790454329, 'lng': -71.14633789...",-iCUOdUXoai976bu0BlokA,OK,Boston,42.362373,-71.146179,22.974413,0,POINT (-71.146179 42.362373),55391,Open Space,12841,2

### Check wthether the portion of 'safety' 'subdistrict' changed

In [53]:
train_fetched_with_target.groupby(['SUBDISTRIC']).count()['city'] / train_fetched_with_target.groupby(['SUBDISTRIC']).count()['city'].sum()

SUBDISTRIC
Business         0.052486
Comm/Instit      0.020279
Industrial       0.139691
Miscellaneous    0.043508
Mixed Use        0.065545
Open Space       0.178177
Residential      0.500314
Name: city, dtype: float64

In [41]:
test_fetched_with_target.groupby(['SUBDISTRIC']).count()['city'] / test_fetched_with_target.groupby(['SUBDISTRIC']).count()['city'].sum()

SUBDISTRIC
Business         0.058099
Comm/Instit      0.021630
Industrial       0.131036
Miscellaneous    0.042757
Mixed Use        0.066650
Open Space       0.178823
Residential      0.501006
Name: city, dtype: float64

In [54]:
train_fetched_with_target.groupby(['safety']).count()['city'] / train_fetched_with_target.groupby(['safety']).count()['city'].sum()

safety
0    0.544136
1    0.455864
Name: city, dtype: float64

In [42]:
test_fetched_with_target.groupby(['safety']).count()['city'] / test_fetched_with_target.groupby(['safety']).count()['city'].sum()

safety
0    0.541751
1    0.458249
Name: city, dtype: float64

In [47]:
train_fetched_with_target.to_csv("~/Desktop/ML1030/us_safety/boston_train_fetched_with_target.csv", index = False)
test_fetched_with_target.to_csv("~/Desktop/ML1030/us_safety/boston_test_fetched_with_target.csv", index = False)

## 2) Calculate the fetched images' updated year.

In [41]:
train_fetched['year']= pd.to_datetime(train_fetched['date'], format='%Y/%m/%d').dt.year
train_fetched.groupby(['year']).count()['_file']

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

year
2007.0      130
2008.0        6
2009.0       79
2010.0       26
2011.0      706
2012.0       23
2013.0     1853
2014.0      428
2015.0      243
2016.0      660
2017.0     1540
2018.0    10200
2019.0       23
Name: _file, dtype: int64

In [40]:
test_fetched['year']= pd.to_datetime(test_fetched['date'], format='%Y/%m/%d').dt.year
test_fetched.groupby(['year']).count()['_file']

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

year
2007.0      38
2008.0       2
2009.0      18
2010.0       6
2011.0     201
2012.0       6
2013.0     440
2014.0      83
2015.0      82
2016.0     174
2017.0     387
2018.0    2534
2019.0       3
Name: _file, dtype: int64