In this script, for the downsampled 20,000 boston samples, we split them into 80 : 20 as training and test sets, so as to use the trainings and test sets to fetch images and save the training and test images into 2 seperate folders.

An alternative way is to fetch the 20,000 images altogether and save them into one folder first, split the training and test sets later, and then write a function to select training and test images separately from the image folder.

In [40]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [41]:
boston_safety_subsample = pd.read_csv("~/Desktop/ML1030/us_safety/boston_safety_subsample.csv")
boston_safety_subsample = boston_safety_subsample.drop(columns='Unnamed: 0')

In [42]:
boston_safety_subsample.head()

,city,latitude,longitude,q-score,safety,Coordinates,OBJECTID,SUBDISTRIC
0,Boston,42.348724,-71.071495,28.634125,1,POINT (-71.071495 42.348724),54998,Residential
1,Boston,42.288597,-71.065681,26.525396,1,POINT (-71.06568100000001 42.288597),55642,Residential
2,Boston,42.295563,-71.138023,29.614868,1,POINT (-71.138023 42.295563),54450,Residential
3,Boston,42.312973,-71.076004,30.076191,1,POINT (-71.076004 42.312973),55523,Residential
4,Boston,42.311348,-71.060051,26.038879,1,POINT (-71.060051 42.311348),55604,Residential

In [43]:
train, test = train_test_split(boston_safety_subsample, test_size=0.2)

In [52]:
train.head()

,city,latitude,longitude,q-score,safety,Coordinates,OBJECTID,SUBDISTRIC
12669,Boston,42.392273,-70.994942,14.495926,0,POINT (-70.99494200000002 42.392273),55507,Open Space
14403,Boston,42.351974,-71.052361,19.801462,0,POINT (-71.052361 42.351974),54845,Industrial
6554,Boston,42.254936,-71.138962,22.083672,0,POINT (-71.13896200000001 42.254936),54368,Residential
11783,Boston,42.372772,-71.029839,23.882545,0,POINT (-71.029839 42.372772),55508,Open Space
19418,Boston,42.359776,-71.147301,19.756496,0,POINT (-71.147301 42.359776),55353,Business

In [54]:
train['index_outof_20000'] = train.index

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [55]:
train.head()

,city,latitude,longitude,q-score,safety,Coordinates,OBJECTID,SUBDISTRIC,index_outof_20000
12669,Boston,42.392273,-70.994942,14.495926,0,POINT (-70.99494200000002 42.392273),55507,Open Space,12669
14403,Boston,42.351974,-71.052361,19.801462,0,POINT (-71.052361 42.351974),54845,Industrial,14403
6554,Boston,42.254936,-71.138962,22.083672,0,POINT (-71.13896200000001 42.254936),54368,Residential,6554
11783,Boston,42.372772,-71.029839,23.882545,0,POINT (-71.029839 42.372772),55508,Open Space,11783
19418,Boston,42.359776,-71.147301,19.756496,0,POINT (-71.147301 42.359776),55353,Business,19418

In [53]:
test.head()

,city,latitude,longitude,q-score,safety,Coordinates,OBJECTID,SUBDISTRIC
14035,Boston,42.353924,-71.123283,28.367445,1,POINT (-71.123283 42.353924),55314,Industrial
17206,Boston,42.361725,-71.057236,25.977942,1,POINT (-71.057236 42.361725),55092,Mixed Use
12841,Boston,42.362373,-71.146179,22.974413,0,POINT (-71.146179 42.362373),55391,Open Space
1365,Boston,42.275738,-71.077789,25.823900,1,POINT (-71.077789 42.275738),55568,Residential
9576,Boston,42.318501,-71.081070,17.228649,0,POINT (-71.08107 42.318501),55542,Residential

In [56]:
test['index_outof_20000'] = test.index

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [57]:
test.head()

,city,latitude,longitude,q-score,safety,Coordinates,OBJECTID,SUBDISTRIC,index_outof_20000
14035,Boston,42.353924,-71.123283,28.367445,1,POINT (-71.123283 42.353924),55314,Industrial,14035
17206,Boston,42.361725,-71.057236,25.977942,1,POINT (-71.057236 42.361725),55092,Mixed Use,17206
12841,Boston,42.362373,-71.146179,22.974413,0,POINT (-71.146179 42.362373),55391,Open Space,12841
1365,Boston,42.275738,-71.077789,25.823900,1,POINT (-71.077789 42.275738),55568,Residential,1365
9576,Boston,42.318501,-71.081070,17.228649,0,POINT (-71.08107 42.318501),55542,Residential,9576

### Check: both train and test represent the portion of SUBDISTRIC in the 20,000 samples

In [44]:
boston_safety_subsample.groupby(['SUBDISTRIC']).count()['city'] / boston_safety_subsample.groupby(['SUBDISTRIC']).count()['city'].sum()

SUBDISTRIC
Business         0.05340
Comm/Instit      0.02100
Industrial       0.13900
Miscellaneous    0.04335
Mixed Use        0.06575
Open Space       0.17860
Residential      0.49890
Name: city, dtype: float64

In [45]:
train.groupby(['SUBDISTRIC']).count()['city'] / train.groupby(['SUBDISTRIC']).count()['city'].sum()

SUBDISTRIC
Business         0.052312
Comm/Instit      0.020688
Industrial       0.140375
Miscellaneous    0.043562
Mixed Use        0.065562
Open Space       0.178500
Residential      0.499000
Name: city, dtype: float64

In [46]:
test.groupby(['SUBDISTRIC']).count()['city'] / test.groupby(['SUBDISTRIC']).count()['city'].sum()

SUBDISTRIC
Business         0.05775
Comm/Instit      0.02225
Industrial       0.13350
Miscellaneous    0.04250
Mixed Use        0.06650
Open Space       0.17900
Residential      0.49850
Name: city, dtype: float64

### Check: both train and test represent the portion of 'safety' in the 20,000 samples

In [47]:
boston_safety_subsample.groupby(['safety']).count()['city'] / boston_safety_subsample.groupby(['safety']).count()['city'].sum()

safety
0    0.54425
1    0.45575
Name: city, dtype: float64

In [48]:
train.groupby(['safety']).count()['city'] / train.groupby(['safety']).count()['city'].sum()

safety
0    0.54475
1    0.45525
Name: city, dtype: float64

In [49]:
test.groupby(['safety']).count()['city'] / test.groupby(['safety']).count()['city'].sum()

safety
0    0.54225
1    0.45775
Name: city, dtype: float64

In [68]:
train.to_csv("~/Desktop/ML1030/us_safety/boston_train_list.csv")
test.to_csv("~/Desktop/ML1030/us_safety/boston_test_list.csv")